/*webkit-sassui-tabs Start*/
/*webkit-sassui-tabs End*/
.container {
  width: 600px;
  margin: 20px auto;
}

.test-webkit-sassui-table-tabs {
  display: table;
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  color: #333;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.test-webkit-sassui-table-tabs > .item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.test-webkit-sassui-flex-tabs {
  display: -webkit-box;
  display: flex;
  line-height: 40px;
  background: #f2f2f2;
  color: #333;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.test-webkit-sassui-flex-tabs > .item {
  width: 25%;
  -webkit-box-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
}

.test-webkit-sassui-flex-tabs > .item > span {
  border-bottom: 2px solid transparent;
}

.test-webkit-sassui-flex-tabs > .item[data-active=true] > span {
  border-bottom-color: #f60;
}

.test-webkit-sassui-flex-tabs > .item + .item {
  border-left: 1px solid #ccc;
}

.test-webkit-sassui-flex-tabs > .item > span {
  padding: 0 10px;
}
